Lab3/__pycache__/search.cpython-310.pyc
Lab2/__pycache__/search.cpython-310.pyc
Lab1/__pycache__/search.cpython-310.pyc
Assignment1/__pycache__/search.cpython-310.pyc
.idea/.gitignore
.idea/inspectionProfiles/profiles_settings.xml
.idea/COSC367.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
